<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
		
        <service name="InventoryService.Service1">
		  
        <host>
            <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryService/Service1/"/>
            </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="InventoryService.IService1">
            <!-- 
                Upon deployment, the following identity element should be removed or replaced to reflect the 
                identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
                automatically.
            -->
            <identity>
            <dns value="localhost"/>
            </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        </service>
		
		<!-- User Service -->
	    <service name="InventoryService.UserTbl.UserService">
		    <host>
			    <baseAddresses>
				    <add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryService/UserTbl/UserService"/>
			    </baseAddresses>
		    </host>

		    <endpoint address="" binding="wsHttpBinding" contract="InventoryService.UserTbl.IUserService">
			    <identity>
				    <dns value="localhost"/>
			    </identity>
		    </endpoint>
	    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
	    </service>

		<!-- Category Service -->
		<service name="InventoryService.Category.CategoryService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryService/Category/CategoryService"/>
				</baseAddresses>
			</host>

			<endpoint address="" binding="wsHttpBinding" contract="InventoryService.Category.ICategoryService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		</service>

		<!-- Customer Service -->
		<service name="InventoryService.Customer.CustomerService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryService/Customer/CustomerService"/>
				</baseAddresses>
			</host>

			<endpoint address="" binding="wsHttpBinding" contract="InventoryService.Customer.ICustomerService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		</service>

		<!-- Product Service -->
		<service name="InventoryService.Product.ProductService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryService/Product/ProductService"/>
				</baseAddresses>
			</host>

			<endpoint address="" binding="wsHttpBinding" contract="InventoryService.Product.IProductService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		</service>
		<!-- Order Service -->
		<service name="InventoryService.Order.OrderService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryService/Order/OrderService"/>
				</baseAddresses>
			</host>

			<endpoint address="" binding="wsHttpBinding" contract="InventoryService.Order.IOrderService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		</service>
		<!-- OrderDetails Service -->
		<service name="InventoryService.OrderDetails.OrderDetailsService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryService/OrderDetails/OrderDetailsService"/>
				</baseAddresses>
			</host>

			<endpoint address="" binding="wsHttpBinding" contract="InventoryService.OrderDetails.IOrderDetails">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		</service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
	<connectionStrings>
		<add name="MyConnString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=InventoryDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
