<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService" />
                <binding name="WSHttpBinding_IProductService" />
                <binding name="WSHttpBinding_ICategoryService" />
                <binding name="WSHttpBinding_ICustomerService" />
                <binding name="WSHttpBinding_IOrderService" />
                <binding name="WSHttpBinding_IOrderDetails" />
                <binding name="WSHttpBinding_ICategoryService1" />
                <binding name="WSHttpBinding_ICategoryService2" />
                <binding name="WSHttpBinding_ICustomerService1" />
                <binding name="WSHttpBinding_ICategoryService3" />
                <binding name="WSHttpBinding_ICustomerService2" />
                <binding name="WSHttpBinding_IOrderDetails1" />
                <binding name="WSHttpBinding_ICategoryService4" />
                <binding name="WSHttpBinding_ICustomerService3" />
                <binding name="WSHttpBinding_IOrderDetails2" />
                <binding name="WSHttpBinding_IOrderService1" />
                <binding name="WSHttpBinding_ICategoryService5" />
                <binding name="WSHttpBinding_ICustomerService4" />
                <binding name="WSHttpBinding_IOrderDetails3" />
                <binding name="WSHttpBinding_IOrderService2" />
                <binding name="WSHttpBinding_IProductService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Category/CategoryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryService"
                contract="CategoryServiceRef.ICategoryService" name="WSHttpBinding_ICategoryService">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Category/CategoryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryService1"
                contract="CustomerServiceRef.ICategoryService" name="WSHttpBinding_ICategoryService1">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Customer/CustomerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                contract="CustomerServiceRef.ICustomerService" name="WSHttpBinding_ICustomerService">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Category/CategoryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryService2"
                contract="OrderDetailsServiceRef.ICategoryService" name="WSHttpBinding_ICategoryService2">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Customer/CustomerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService1"
                contract="OrderDetailsServiceRef.ICustomerService" name="WSHttpBinding_ICustomerService1">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/OrderDetails/OrderDetailsService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderDetails"
                contract="OrderDetailsServiceRef.IOrderDetails" name="WSHttpBinding_IOrderDetails">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Category/CategoryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryService3"
                contract="OrderServiceRef.ICategoryService" name="WSHttpBinding_ICategoryService3">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Customer/CustomerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService2"
                contract="OrderServiceRef.ICustomerService" name="WSHttpBinding_ICustomerService2">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/OrderDetails/OrderDetailsService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderDetails1"
                contract="OrderServiceRef.IOrderDetails" name="WSHttpBinding_IOrderDetails1">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Order/OrderService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderService"
                contract="OrderServiceRef.IOrderService" name="WSHttpBinding_IOrderService">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Category/CategoryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryService4"
                contract="ProductServiceRef.ICategoryService" name="WSHttpBinding_ICategoryService4">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Customer/CustomerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService3"
                contract="ProductServiceRef.ICustomerService" name="WSHttpBinding_ICustomerService3">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/OrderDetails/OrderDetailsService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderDetails2"
                contract="ProductServiceRef.IOrderDetails" name="WSHttpBinding_IOrderDetails2">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Order/OrderService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderService1"
                contract="ProductServiceRef.IOrderService" name="WSHttpBinding_IOrderService1">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Product/ProductService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductService"
                contract="ProductServiceRef.IProductService" name="WSHttpBinding_IProductService">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Category/CategoryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryService5"
                contract="UserServiceRef.ICategoryService" name="WSHttpBinding_ICategoryService5">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Customer/CustomerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService4"
                contract="UserServiceRef.ICustomerService" name="WSHttpBinding_ICustomerService4">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/OrderDetails/OrderDetailsService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderDetails3"
                contract="UserServiceRef.IOrderDetails" name="WSHttpBinding_IOrderDetails3">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Order/OrderService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderService2"
                contract="UserServiceRef.IOrderService" name="WSHttpBinding_IOrderService2">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/Product/ProductService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductService1"
                contract="UserServiceRef.IProductService" name="WSHttpBinding_IProductService1">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/InventoryService/UserTbl/UserService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
                contract="UserServiceRef.IUserService" name="WSHttpBinding_IUserService">
                <identity>
                    <userPrincipalName value="ABHISHEKJAMKAR\jamka" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
